.DS_Store
_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings
\bin
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
NeuralBird.iml
bin/start/css/GameMenuBackground.png
bin/start/css/background.png
bin/start/css/background2.png
bin/start/css/background3.png
bin/start/css/button.css
bin/start/css/style.css
bin/start/engine/GameMenuBackground.png
bin/start/engine/backgroundPicture.jpg
bin/start/engine/night_sky.jpg
bin/start/engine/secondBackgroundPicture.png
bin/start/fonts/CaptureIt.ttf
bin/start/fonts/TwCenMTCondensed.TTF
bin/start/game_play_fxml/ai_fxml/ai_screen.fxml
bin/start/game_play_fxml/css/GameOverLabel.png
bin/start/game_play_fxml/css/button.css
bin/start/game_play_fxml/css/label.css
bin/start/game_play_fxml/player_fxml/player_screen.fxml
bin/start/main_menu.fxml
bin/start/settings_fxml/css/background3.png
bin/start/settings_fxml/css/button.css
bin/start/settings_fxml/css/label.css
bin/start/settings_fxml/css/setting.css
bin/start/settings_fxml/css/style.css
bin/start/settings_fxml/settings_screen.fxml
