#pane{
    -fx-background-image: url("background2.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1000 600;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.button {
    -fx-font-family: "Tw Cen MT Condensed";
    -fx-font-weight: 600;
    -fx-font-size: 22;
    -fx-opacity: 0.4;

    -fx-text-fill: darkgray;
}