.button {
    -fx-font-family: "Tw Cen MT Condensed";
    -fx-font-weight: 600;
    -fx-font-size: 40;
    -fx-opacity: 0.5;

    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, rgba(117,117,117,1) 0%, rgba(0,0,0,1) 47%, rgba(117,117,117,1) 100%);
}

.button:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-text-fill: white;
    -fx-background-color:
            linear-gradient(to right, rgba(237,36,0,1) 0%, rgba(237,36,0,1) 0%, rgba(122,0,0,1) 51%, rgba(237,36,0,1) 100%);
}

.button:pressed{
    -fx-background-color: #ed2400;
}
