@font-face {
    font-family: Capture it;
    src: url("/start/fonts/CaptureIt.ttf");
}

@font-face {
    font-family: Tw Cen MT Condensed;
    src: url("/start/fonts/TwCenMTCondensed.TTF");
}

#imageView {
    -fx-image: url("GameOverLabel.png");
}

#scoreLabel {
    -fx-font-family: "Tw Cen MT Condensed";
    -fx-font-size: 40;
    -fx-text-fill: linear-gradient(to right, rgba(232,67,7,1) 0%, rgba(255,251,10,1) 100%);
}

#endScoreLabel {
    -fx-font-family: "Capture it";
    -fx-font-size: 59;
    -fx-text-fill: linear-gradient(to right, rgba(232,67,7,1) 0%, rgba(255,251,10,1) 100%);
}